@font-face{
    font-family: "insta";
    src: url("/font/billabong.otf");
}
a{
    color:black;
}
div {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    }
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 29px;
    background-color: white;
    /*color:black; */
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:44px;
}
.bottombar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white; 
    /* color:black; */
    position:fixed;
    width:100%;
    height:50px ;
    bottom:0;
}
.story{
    display:flex;
    display:block;
    flex-direction: column;
    font-size:x-small;
    justify-content: center;
    background-color: #fafafa;
    border-bottom:1px solid #dbdbdb;
    border-top:1px solid #dbdbdb; 
    height: 122px;
    padding: 0 4px;
    top: 2px;
    left:0;
    width: 80px;
}
.rok{
    display: flex;
    align-content: center;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
.ink{
    outline: 0;
    overflow:auto hidden;
    width:auto;
    display: flex;
    flex-direction: row;
    height:120px;
    top: 45px;
    padding:10px 0;
}
body{
    margin:0;
    overflow-x: hidden;
}
.test{
    background-color: white; 
}
.tit{
    display:flex;
    flex-direction: row;
    height:60px;
    align-items: center;
    width:100%;
    justify-content: space-between;
    
}
.post1_1{
    display: block;
    display: flex;
    align-self:center;
    justify-content: center;
    flex:0 0 0;
}
.post1_2{
    margin-left: 12px;
    display: flex;
    width:100%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items:flex-start;
}
.post1_3{
    padding:8px;
}
.bobo{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:16px;
}
.bar{
    padding-top: 4px;
    display:flex;
    flex-direction: row;
    height:40px;
    align-items: center;
}
.three{
    display:flex;
    width:100%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    padding:8px;
}
.tone,.ttwo,.tthree{
    padding:8px;
}
.good{
    display:flex;
    
    align-items: center;
    margin-left: 16px;
}
.good_font{
    font-size:small;
    padding-left: 8px;
}
.comment{
    font-size:small;
    padding-left: 16px;
    padding-right: 16px;
}
#last
{
    margin-bottom: 50px;
}
.white{
    background-color: white;
    color:black;
}
.dark{
    background-color: black;
    color:white;
}
.dark button{
    background-color: black;
    color:white;
}
.dark .topbar{ 
    background-color: black;
    color:white;
}

.dark .story{ 
    background-color: black;
    color:white;
    border-color: black;
}


.dark .test{ 
    background-color: black;
    color:white;
}

.dark .bottombar{ 
    background-color: black;
    color:white;
}

button{
    color:black;
    background:white;
    border:0 solid ;
    margin:0;
    padding:0;
}
.img_show{
    display:none;
}
.push_bar{
    display:flex;
    flex-direction:row;
}