<div class="topbar">
    <i style='margin:0 16px; font-size: 24px;' class="fas fa-camera"></i>
    <div style='font-family:"insta",serif;' >instagram</div>
    <i style='font-size: 24px; margin:0 16px;' class="fas fa-paper-plane"></i>
</div>