<head>
    <meta name="viewport" content="width=device-width">
</head>
<div id="wrap">
    <span class="title">INSTA <%=name%></span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
        <input type="button" class="btn" onclick=" location.href='/logout'" value="LOGOUT"/>
    </div>
</div>