<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body class="white">
        <div class="ink">
            <div class="rok">
                
            </div>
        </div>
        
        
        
        <%- include('./partials/head') %>
        <%- include('./partials/foot') %>
        <script type="text/javascript" src="js/home_js.js"></script>
    </body>
        
            
        

</html>