<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body class="white">

        <div class="topbar">
            <a>
                <i style='margin:0 16px; font-size: 24px;' class="fas fa-cog"></i>
            </a>
            <div><%= currentUser.username %></div>
            <i style='font-size: 24px; margin:0 16px;' class="fas fa-paper-plane"></i>
        </div>
        <%- include('./partials/foot') %>
        <script type="text/javascript" src="js/home_js.js"></script>
    </body>
        
            
        

</html>